* {
  box-sizing: border-box;
}

h1 {
  color: brown;
  text-decoration: underline;
  font-size: 50px;
  border: 5px solid blueviolet;
  margin: 50px;
  padding: 10px;
  outline: 1px solid rgb(0, 0, 0);
}

/* article {
  color: blue;
} */

.box {
  height: 200px;
  width: 200px;
  padding: 20px;
  border: 10px solid red;
  background-color: #333;
}

.article {
  background-color: burlywood;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.big-text {
  font-size: 50px;
}

/*    Список     */
.list {
  background-color: aquamarine;
}

.list-item {
  font-size: 25px;
  background-color: brown;
}
.list-link {
  color: #fefefe;
}

.list-link:hover {
  background-color: blueviolet;
}

.red,
.blue {
  background-color: orange;
}
