.page-header {
  outline: 1px solid #333;
}

.logo {
  display: inline-block;
  height: 70px;
  width: 50px;
  vertical-align: middle;
  background-image: url(../img/logo.png);
  background-size: cover;
}

.menu {
  display: inline-block;
  list-style: none;
  font-size: 0px;
}

.menu-item {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  outline: 1px solid #333;
  text-transform: uppercase;
  text-decoration: none;
}
