.button {
  width: 96px;
  height: 17px;
  color: #626262;
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 22 34 22 34;
}

.box {
  width: 164px;
  height: 60px;
  border: 1px solid #626262;
}
